.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar ul {
  display: flex;
  gap: 35px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.navbar li:hover {
  opacity: 1;
  transform: translateY(-2px);
}
